{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}
    Greeterbot
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="nav-title text-center">
            <h1>
                Greeterbot
            </h1>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="main-container" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}